{% from itertools import groupby %}
{% from operator import itemgetter %}
<!doctype html>
<html>
<head>
<title>{% block title %}{% end block %} :: clevernote</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
</script>
<link rel=stylesheet
href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>

<body>
<br>
<ul class='nav nav-tabs'>
<!-- new notebook button exposes new notebook form -->
<li><a href=# onclick="document.getElementById('new_notebook_form').className=''">
+ New Notebook +</a></li>
<!-- hidden new notebook form -->
<li class=hidden id=new_notebook_form><a href=#>
<input type=text name=new_notebook_name id=new_notebook_name>
<input
onclick="var new_notebook='/'+document.getElementById('new_notebook_name').value
$.post(new_notebook).done(window.location=new_notebook)"
type=button class='btn btn-primary' value=Create>
<input type=button class='btn btn-danger' value=Cancel
onclick="this.parentElement.className='hidden'">
<!-- TODO this causes the newbook note button to not work again until a page refresh -->
</a></li>

<!-- iterate though existing notebooks -->
{% for notebook in notebooks %}
  {% if notebook != '.git' %}
  <li
  {% if notebook_name == notebook %}
    class=active
  {% end if %}
  ><a href=/{{ notebook }}>{{ notebook }}</a></li>
  {% end if %}
{% end for %}
</ul>
<br>
<div class='col-md-2'>
  <ul class='nav nav-pills nav-stacked'>
  <!-- search -->
  <li>
    <form method=GET action=/search>
      <input type=text name=q id=search>
      <button class='btn btn-link'>
        <span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </li>

  <!-- new note button exposes new note form -->
  <li><a href=# onclick="document.getElementById('new_note_form').className=''">
  + New Note +</a></li>
  <!-- hidden note form -->
  <li class=hidden id=new_note_form><a href=#>
  <input type=text name=new_note_name id=new_note_name><br><br>
  <input type=button class='btn btn-primary' value=Create
  onclick="var new_note='/{{ notebook_name }}/'+document.getElementById('new_note_name').value
  $.post(new_note,data={'save': true, 'note': ''}).done(window.location=new_note)">
  <input type=button class='btn btn-danger' value=Cancel id=cancel
  onclick="this.parentElement.className='hidden'"></a></li>
  <!-- TODO this causes the new note button to not work again until a page refresh -->

  <!-- iterate through existing notes -->
  {% for note in notes %}
    <li
    {% if note == note_name %}
      class=active
    {% end if %}
    ><a href=/{{ notebook_name}}/{{ note }}>{{ note }}</a></li>
  {% end for %}
  </ul>
</div>
<div class=container>
  <div class=row>
    <div class='col-md-10'>
    {% block body %}
    {% end block %}
    </div>
  </div>
</div>
</body>
</html>
