{% extends base.html %}
{% block title %}{{ note_name }}{% end block %}

{% block body %}
  {% if edit %}
    <br>
    <form method=POST>
    <input type=submit class="btn btn-success" value=Save name=save>
    <input type=submit class="btn btn-danger" value=Cancel name=cancel>
    <br>
    <br>
    <textarea cols=100 rows=25 name=note>{{ note_contents }}</textarea>
  {% else %}
    <br>
    <button class="btn btn-primary" onclick="window.location='{{ note_name }}?edit=True'">
    Edit</button>
    <button class='btn btn-danger' onclick="window.location='{{ note_name }}?delete=True'">
    Delete</button>
    <br>
    <br>
    {% raw note_contents %}
  {% end if %}
{% end block %}
