/* Tony O'Dell */
body
{
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
}
h1,h2,h3,h4,h5 
{
  font-family: 'Bree Serif';
  text-transform: lowercase;
  line-height: 1.5;
  margin: 0;
}
textarea
{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  color: #000;
}
#notebooks > ol > li > a,
#notes     > ol > li > a
{
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
}
#header 
{
  font-family: 'Bree Serif';
  font-size: 1.8em;
  line-height: 2;
  margin: -.5em -.5em 0 -.5em;
  padding: 0 1em;
  border-bottom: 2px solid rgba(127,127,127,.5);
}
#notebooks
{
  font-size: 1em;
  line-height: 4;
  padding: 2em;
  background: #1F3A42;//274952;
  color: #000;
  position: fixed;
  height: 100%;
  width: 10em;
  overflow-y: auto;
  left: 0;
}
#notes
{
  font-size: 1em;
  line-height: 4;
  padding: 0;
  background: #FFF;
  color: #000;
  position: fixed;
  left: 14em;
  height: 100%;
  width: 9em;
  overflow-y: auto;
  border-right: 2px solid rgba(200,200,200,.2);
}
#body 
{
  padding: 1em 0 1em 0;
  left: 28em;
  right: 1em;
  position: absolute;
}
#content
{
  font-size: 1.2em;
}
#notes,
#notebooks,
#body
{
  transform: translate3d(0,0,0);
  transition: width .35s, left .35s;
}
#notebooks > ol,
#notes     > ol
{
  margin: 0;
  padding: 0;
  list-style: none;
}
#notebooks > ol > li
{
  line-height: 2.5em; 
}
#notebooks *,
#notebooks > ol > li > a
{
  color: #FFF;
}
#notes > ol > li
{
  padding: 0 0 0 2em;
  border-top: 2px solid rgba(200,200,200,.2);
}
#notes > ol > li:last-child
{
  border-bottom: 2px solid rgba(200,200,200,.2);
}
@media (max-width: 768px) {
  #notebooks 
  {
    font-size: 1em;
    overflow: hidden;
    width: 1em;
  }
  #notes
  {
    font-size: 1em;
    overflow: hidden;
    width: 1em;
    left: 1em;
  }
  #notebooks,
  #notes
  {
    margin: 0;
    padding: 0;
  }
  #notebooks > *, 
  #notes > *,
  #notes > ol.active
  {
    display: none; 
  }
  #notebooks.slide > *, 
  #notes.slide > *,
  #notes.slide > ol.active
  {
    display: inherit; 
  }
  #notebooks.slide,
  #notes.slide
  {
    padding: 1em; 
  }
  #notebooks > ol > li,
  #notes     > ol > li 
  {
    overflow: hidden;
    white-space: nowrap;
  }
  #notebooks > ol > li 
  {
    margin-right: 1em;
  }
  #notes > ol > li 
  {
    margin-right: -1em;
  }
  #notebooks.slide, 
  #notes.slide 
  {
    width: 12em;
  }
  #notes.slide 
  {
    width: 10em;
  }
  #notes.slide
  {
    left: 12em;
  }
  #body 
  {
    left: 3em;
  }
  #body.slide 
  {
    left: 17em;
  }
}


.hidden
{
  display: none;
}

#searchbox 
{
  position: relative;
  font-size: 2em;
  line-height: 2.5em;
  height: 2em;
}
#searchbox > * 
{
  font-size: 1em;
  line-height: 2em;
}
#searchbox > input 
{
  position: absolute;
  left: 0;
  top: 0;
  width: 99%;
  bottom: 0;
  border: 0;
  background: transparent;
  text-indent: 1.3em;
  color: #000;
}

#searchbox > i 
{
  position: absolute;
  padding-left: .2em;
}

.modal:before
{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0,0,0,.5);
}

.modal-dialog
{
  background:#FFF;
  border-radius: 3px;
  box-shadow 6px 6px #000;
  width: 30%;
  position: absolute;
  bottom: 50%;
  left: 35%;
  font-size: 1.5em;
}
.modal-header,
.modal-body
{
  padding: .25em 1em;
  border-bottom: 2px solid #efefef;
}
.modal-footer
{
  padding: .25em 1em;
}
.modal-header > h4 
{
  float: left;
}
.modal-header > button
{
  float: right;
}
.modal-header:after,
.modal-footer:after
{
  clear: both;
  content: "";
  display: block;
}
.modal-footer > .btn 
{
  float: right;
}

#notebooks ol > li > a:before 
{
  content: ' ';
  display: inline-block;
  height: .6em;
  width: .6em;
  margin-bottom: -.15em;
  border-radius: 1em;
  background:rgba(255,255,255,.25);
  border: 3px solid rgba(255,255,255,.75);
  -webkit-box-shadow: 0 0 3px 0px rgba(255,255,255,0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(255,255,255,0.25);
  box-shadow: 0 0 3px 0px rgba(255,255,255,0.5);
}

#notebooks ol > li:nth-child(5n) > a:before
{
  background:rgba(170,255,0,.25);
  border: 3px solid rgba(170,255,0,.75);
  -webkit-box-shadow: 0 0 3px 0px rgba(170,255,0,0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(170,255,0,0.25);
  box-shadow: 0 0 3px 0px rgba(170,255,0,0.5);
}
#notebooks ol > li:nth-child(1n) > a:before
{
  background:rgba(255,170,0,.25);
  border: 3px solid rgba(255,170,0,.75);
  -webkit-box-shadow: 0 0 3px 0px rgba(255,170,0,0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(255,170,0,0.25);
  box-shadow: 0 0 3px 0px rgba(255,170,0,0.5);
}
#notebooks ol > li:nth-child(2n) > a:before
{
  background:rgba(255,0,170,.25);
  border: 3px solid rgba(255,0,170,.75);
  -webkit-box-shadow: 0 0 3px 0px rgba(255,0,170,0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(255,0,170,0.25);
  box-shadow: 0 0 3px 0px rgba(255,0,170,0.5);
}
#notebooks ol > li:nth-child(3n) > a:before
{
  background:rgba(170,0,255,.25);
  border: 3px solid rgba(170,0,255,.75);
  -webkit-box-shadow: 0 0 3px 0px rgba(170,0,255,0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(170,0,255,0.25);
  box-shadow: 0 0 3px 0px rgba(170,0,255,0.5);
}
#notebooks ol > li:nth-child(4n) > a:before
{
  background:rgba(0,170,255,.25);
  border: 3px solid rgba(0,170,255,.75);
  -webkit-box-shadow: 0 0 3px 0px rgba(0,170,255,0.25);
  -moz-box-shadow: 0 0 3px 0px rgba(0,170,255,0.25);
  box-shadow: 0 0 3px 0px rgba(0,170,255,0.5);
}
